<footer id="footer" class="bg-dark text-white text-center px-2 py-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-left">
        <p>About This Page</p>
        <p class="text-muted">
          This website was coded in HTML, CSS, and Django with the help of Bootstrap. It is hosted on a LAMP server
          from DigitalOcean. The code can be found <a href="#"> here</a>.
        </p>
      </div>
      <div class="col-md-3 text-left">
        <p>Sitemap</p>
        <p class="text-muted">
          Home <br>
          Education <br>
          Project <br>
          Blog <br>
        </p>
      </div>
      <div class="col-md-3 text-left">
        <p>Connect</p>
        <i class="fab fa-twitter fa-2x mx-2"></i>
        <i class="fab fa-facebook fa-2x mx-2"></i>
        <i class="fab fa-github fa-2x mx-2"></i>
        <i class="fab fa-instagram fa-2x mx-2"></i>
        <i class="fab fa-linkedin fa-2x mx-2"></i>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <hr class="bg-light">
        Copyright &copy; {% now "Y" %} Jay Choi
      </div>
    </div>
  </div>
</footer>