{% extends "base.html" %}
{% load static %}
{% block title %}
Education
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- NAVIGATION -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="home-nav">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
            <img class="mr-2" src="{% static 'img/favicon.ico' %}" width="30" height="30" alt="">
            Jay Choi
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ml-2">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item ml-2 active">
                    <a class="nav-link" href="#">Education</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" href="{% url 'project:list' %}">Project</a>
                </li>
                <li class="nav-item ml-2">
                    <a class="nav-link" href="{% url 'blog:list' %}">Blog</a>
                </li>
                <li class="nav-item dropdown ml-2">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Connect
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="https://www.linkedin.com/in/hyukjae-jay-choi-2a857b160/" target="_blank">LinkedIn</a>
                        <a class="dropdown-item" href="https://github.com/JayHChoi" target="_blank">GitHub</a>
                        <a class="dropdown-item" href="{% static "txt/resume.pdf" %}" target="_blank">Resume</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- HEADER -->
<header id="education-header" class="d-flex align-items-center">
    <div class="container">
        <div class="row p-4">
            <div class="col-md-6 m-auto text-center text-white">
                <h1>
                Education
                </h1>
            </div>
        </div>
    </div>
</header>
<!-- COURSES -->
<section id="education-list-section" class="pt-4">
    <div class="container">
        <div class="row pt-3">
            <div class="card-columns mx-auto">
                {% for education in education_list_reverse %}
                {% if education.category == 'Data Science' %}
                <div class="card text-center bg-primary text-white">
                    <div class="card-body">
                        <a href="{{ education.url_address }}" target="_blank"><h5 class="card-title">{{ education.title }}</h5></a>
                        <p class="card-text font-italic">
                            By {{ education.institution }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                            {% if education.finished %}
                            Completed In {{ education.finish_date|date:'M Y' }}
                            {% else %}
                            In progress
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% elif education.category == 'Web Development' %}
                <div class="card text-center bg-danger text-white">
                    <div class="card-body">
                        <a href="{{ education.url_address }}" target="_blank"><h5 class="card-title">{{ education.title }}</h5></a>
                        <p class="card-text font-italic">
                            By {{ education.institution }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                            {% if education.finished %}
                            Completed In {{ education.finish_date|date:'M Y' }}
                            {% else %}
                            In progress
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="card text-center bg-warning text-white">
                    <div class="card-body">
                        <a href="{{ education.url_address }}" target="_blank"><h5 class="card-title">{{ education.title }}</h5></a>
                        <p class="card-text font-italic">
                            By {{ education.institution }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <p class="card-text">
                            {% if education.finished %}
                            Completed In {{ education.finish_date|date:'M Y' }}
                            {% else %}
                            In progress
                            {% endif %}
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- HEADER -->
<!-- HEADER -->
<!-- HEADER -->
{% endblock content %}