{% extends "base.html" %}
{% load static %}
{% block title %}
Education
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- COURSES -->
<section id="education-list-section" class="p-2">
	<div class="container">
		<div class="row">
			<div class="card-columns mx-auto">
				{% for education in education_list_reverse %}
				{% if education.category == 'Data Science' %}
				<div class="card text-center bg-primary text-white">
					<div class="card-body">
						<a href="{{ education.url_address }}" target="_blank">
							<h5 class="card-title">{{ education.title }}</h5>
						</a>
						<p class="card-text font-italic">
							By {{ education.institution }}
						</p>
					</div>
					<div class="card-footer">
						<p class="card-text">
							{% if education.finished %}
							Completed In {{ education.finish_date|date:'M Y' }}
							{% else %}
							In progress
							{% endif %}
						</p>
					</div>
				</div>
				{% elif education.category == 'Web Development' %}
				<div class="card text-center bg-danger text-white">
					<div class="card-body">
						<a href="{{ education.url_address }}" target="_blank">
							<h5 class="card-title">{{ education.title }}</h5>
						</a>
						<p class="card-text font-italic">
							By {{ education.institution }}
						</p>
					</div>
					<div class="card-footer">
						<p class="card-text">
							{% if education.finished %}
							Completed In {{ education.finish_date|date:'M Y' }}
							{% else %}
							In progress
							{% endif %}
						</p>
					</div>
				</div>
				{% else %}
				<div class="card text-center bg-warning text-white">
					<div class="card-body">
						<a href="{{ education.url_address }}" target="_blank">
							<h5 class="card-title">{{ education.title }}</h5>
						</a>
						<p class="card-text font-italic">
							By {{ education.institution }}
						</p>
					</div>
					<div class="card-footer">
						<p class="card-text">
							{% if education.finished %}
							Completed In {{ education.finish_date|date:'M Y' }}
							{% else %}
							In progress
							{% endif %}
						</p>
					</div>
				</div>
				{% endif %}
				{% endfor %}
				<!-- SAMPLE CARDS FOR TEST -->
				<!-- {% for i in "x"|rjust:"20" %}
				<div class="card text-center bg-primary text-white">
					<div class="card-body">
						<a href="{{ education.url_address }}" target="_blank">
							<h5 class="card-title">{{ education.title }}</h5>
						</a>
						<p class="card-text font-italic">
							By {{ education.institution }}
						</p>
					</div>
					<div class="card-footer">
						<p class="card-text">
							{% if education.finished %}
							Completed In {{ education.finish_date|date:'M Y' }}
							{% else %}
							In progress
							{% endif %}
						</p>
					</div>
				</div>
				{% endfor %} -->
				<!-- END TEST -->
			</div>
		</div>
	</div>
</section>
{% endblock content %}