/* header {
    min-height: 350px;
    padding-top: 50px;
}

header h1 {
    font-size: 4rem;
}

p {
    font-size: 1.2rem;
}

header#home-header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(../img/home-header.jpg);
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header#blog-header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(../img/blog-header.jpg);
    background-position: 0 -300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header#education-header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5)), url(../img/education-header.jpg);
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header#project-header {
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url(../img/project-header.jpg);
    background-position: 0 -200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card-body a {
    text-decoration: underline;
    color: white;
}
 */

.card-body a {
    text-decoration: underline;
    color: white;
}


.card-body a:hover {
    color: black;
}