{% extends "base.html" %}
{% load static %}
{% block title %}
Blog
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- POST DETAIL -->
<section id="blog-detail-section" class="p-2">
  <div class="container">
    <div class="row">
      <div class="col-md-9 mx-auto">
        <img class="img-fluid" src="{{ blog.cover.url }}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 mx-auto">
        <p>{{ blog.body }}</p>
      </div>
    </div>
  </div>
</section>
<!-- HEADER -->
<!-- HEADER -->
<!-- HEADER -->
{% endblock content %}