{% extends "base.html" %}
{% load static %}
{% block title %}
Blog
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- lATEST POSTS -->
<section id="blog-list-section" class="p-2">
	<div class="container">
		{% for blog in blog_list_reverse %}
		<div class="row d-flex align-items-center pt-2">
			<div class="col-md-3">
				<img class="img-fluid rounded-circle" src="{{ blog.cover.url }}" alt="Image Not Found">
			</div>
			<div class="col-md-9">
				<h1><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
				<p>{{ blog.body|truncatechars:300 }}</p>
				<p class="text-muted">Published: {{ blog.pub_date }}</p>
				<hr>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
<!-- HEADER -->
<!-- HEADER -->
<!-- HEADER -->
{% endblock content %}