{% extends "base.html" %}
{% load static %}
{% block title %}
Home
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- PHOTO SECTION -->
<section id="photo-section" class="p-2">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-md-6">
				<img class="img-fluid rounded" src="{% static 'img/me.jpg' %}" alt="Image not found">
			</div>
			<div class="col-md-6 text-center">
				<h1>I'm Jay</h1>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, optio!</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quasi fugiat, quia iste quam exercitationem
					cumque aspernatur debitis natus cupiditate iure, error eveniet dolorum facilis repudiandae aperiam perspiciatis
					aliquid delectus odio. Tempora possimus, fuga rem distinctio veritatis perspiciatis numquam autem voluptatem.
					Accusamus exercitationem vitae saepe? Nemo reprehenderit eos aperiam eligendi.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quasi fugiat, quia iste quam exercitationem
					cumque aspernatur debitis natus cupiditate iure, error eveniet dolorum facilis repudiandae aperiam perspiciatis
					aliquid delectus odio. Tempora possimus, fuga rem distinctio veritatis perspiciatis numquam autem voluptatem.
					Accusamus exercitationem vitae saepe? Nemo reprehenderit eos aperiam eligendi.</p>
			</div>
		</div>
	</div>
</section>
{% endblock content %}