{% extends "base.html" %}
{% load static %}
{% block title %}
Project
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- lATEST POSTS -->
<section id="project-list-section" class="p-2">
    <div class="container">
        {% for project in project_list_reverse %}
        <div class="row pt-3 d-flex align-items-center">
            <div class="col-md-3">
                <img class="img-fluid rounded-circle" src="{{ project.cover.url }}" alt="Image Not Found">
            </div>
                <div class="col-md-9">
                    <h1><a href="{{ project.get_absolute_url }}">{{ project.title }}</a></h1>
                    <p>{{ project.body|truncatechars:300 }}</p>
                    <p class="text-muted">Initiated: {{ project.init_date }}</p>
                    <hr>
                </div>
            </div>
            {% endfor %}
        </div>
</section>
<!-- HEADER -->
<!-- HEADER -->
<!-- HEADER -->
{% endblock content %}