{% extends "base.html" %}
{% load static %}
{% block title %}
Project
{% endblock title %}
<!-- CONTENT -->
{% block content %}
<!-- PROJECT DETAIL -->
<section id="project-detail-section" class="p-2">
	<div class="container">
		<div class="row">
			<div class="col-md-9 mx-auto">
				<img class="img-fluid" src="{{ project.cover.url }}" alt="">
			</div>
		</div>
		<div class="row">
			<div class="col-md-9 mx-auto">
				<p>{{ project.body }}</p>
			</div>
		</div>
	</div>
</section>
<!-- HEADER -->
<!-- HEADER -->
<!-- HEADER -->
{% endblock content %}